<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
<!--
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
-->

  <div class="sidebar-item">
    <img src="$baseurl$/images/simonmarlow.jpg" />
    <p>Simon Marlow</p>
    <p>Former Software Engineer at Meta in London</p>
    <p>Co-developer of the
      <a href="http://www.haskell.org/ghc">Glasgow Haskell
 Compiler</a>
    </p>

    <p>
      Bluesky: <a href="https://bsky.app/profile/simonmar.bsky.social">@simonmar.bsky.social</a><br>
      Github: <a href="https://github.com/simonmar">simonmar</a><br>
      Email: <a href="mailto:marlowsd@gmail.com">marlowsd@gmail.com</a><br>
      LinkedIn: <a href="https://uk.linkedin.com/in/simonmarlow">Simon Marlow</a>
    </p>

    <a href="$baseurl$/pages/pcph.html">
      <image width=180 id="sidebar-cover" src="$baseurl$/images/cover.png" />
    </a>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="$baseurl$/">
      Blog
    </a>
    <a class="sidebar-nav-item" href="$baseurl$/bib/bib.html">
      Publications
    </a>
    <a class="sidebar-nav-item" href="$baseurl$/pages/talks.html">
      Talks
    </a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; Simon Marlow 2016-2025
    </p>
  </div>
</div>
