<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
<!--
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
-->

  <div class="sidebar-item">
    <img src="$baseurl$/images/simonmarlow.jpg" />
    <p>Simon Marlow</p>
    <p>Software Engineer at Facebook in London<br>
      Co-developer of the
      <a href="http://www.haskell.org/ghc">Glasgow Haskell
 Compiler</a><br>
      Author
 of <a href="http://chimera.labs.oreilly.com/books/1230000000929">Parallel
 and Concurrent Programming in Haskell</a>.</p>

    <p>
      Twitter: <a href="https://twitter.com/simonmar">@simonmar</a><br>
      Github: <a href="https://github.com/simonmar">simonmar</a><br>
      Email: <a href="mailto:marlowsd@gmail.com">marlowsd@gmail.com</a>
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="$baseurl$/">
      Home
    </a>
    <a class="sidebar-nav-item" href="$baseurl$/archive.html">
      Archive
    </a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; Simon Marlow 2015.
    </p>
  </div>
</div>
